@page
@model CreateGraphAuthMethodModel
@{
    ViewData["Title"] = "Create authentication method";
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">authenticationMethodsPolicy/authenticationMethodConfigurations</h5>
        <form method="post">
            <div class="mb-3">
                @Html.LabelFor(model => model.CreateAuthenticationMethodModel.DisplayName, new { @class = "sr-only", @for = "txtDisplayName" })
                @Html.TextBoxFor(model => model.CreateAuthenticationMethodModel.DisplayName, new { @class = "form-control", @id = "txtDisplayName" })
                @Html.ValidationMessageFor(model => model.CreateAuthenticationMethodModel.DisplayName)
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.CreateAuthenticationMethodModel.AppRegistrationId, new { @class = "sr-only", @for = "txtAppRegistrationId" })
                @Html.TextBoxFor(model => model.CreateAuthenticationMethodModel.AppRegistrationId, new { @class = "form-control", @id = "txtAppRegistrationId" })
                @Html.ValidationMessageFor(model => model.CreateAuthenticationMethodModel.AppRegistrationId)
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.CreateAuthenticationMethodModel.ClientId, new { @class = "sr-only", @for = "txtClientId" })
                @Html.TextBoxFor(model => model.CreateAuthenticationMethodModel.ClientId, new { @class = "form-control", @id = "txtClientId" })
                @Html.ValidationMessageFor(model => model.CreateAuthenticationMethodModel.ClientId)
            </div>

            <div class="mb-3">
                @Html.LabelFor(model => model.CreateAuthenticationMethodModel.DiscoveryUrl, new { @class = "sr-only", @for = "txtDiscoveryUrl" })
                @Html.TextBoxFor(model => model.CreateAuthenticationMethodModel.DiscoveryUrl, new { @class = "form-control", @id = "txtDiscoveryUrl" })
                @Html.ValidationMessageFor(model => model.CreateAuthenticationMethodModel.DiscoveryUrl)
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary form-control"><i class="fas fa-save"></i>Create</button>
            </div>
        </form>
    </div>
</div>


<div class="text-center">
    <p>@Model.Result</p>
</div>